.market-place-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}
.market-place-features .card {
    width: 250px;
}
.price {
    font-weight: bold;
    color: red;
    font-size: 12px;
    padding-left: 7px;
}
.market-place-assets {
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
    gap: 20px;
}
.market-place-assets .card {
    width: 250px;
}
.market-place-assets .topImg,
.market-place-features .topImg {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.topImg {
    display: flex;
    justify-content: center;
}
.topImg img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .description p:first-child {
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 20px 0 0;
    color: red;
} */
.description .card-name {
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}
.card-btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card-btns button {
    transition: all 500ms ease-in-out;
    background-color: lightskyblue;
}
.card-btns button:hover {
    background-color: yellowgreen;
}
.card-btns svg {
    cursor: pointer;
    font-size: 32px;
    transition: all 500ms ease-in-out;
}
.card-btns svg:hover {
    transform: scale(1.2);
    color: yellowgreen;
}
.MuiModal-root .MuiBox-root {
    border: none;
}
.MuiGrid-root .description p:nth-child(3) {
    padding: 10px 20px;
    font-size: 14px;
    width: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.popup .content {
    width: 300px;
}
.popup .content .description {
    padding: 20px 20px;
    color: #000;
    text-align: center;
    gap: 15px;
}
.popup .content .description p:nth-child(2) {
    font-size: 14px;
}
.content .description .price {
    font-size: 16px;
}
.popup .content .description h3 {
    background-color: transparent;
    font-weight: bolder;
}
.button {
    font-size: 12px;
    margin-bottom: 15px;
    padding: 5px;
    color: #fff;
    border: 2px solid #06d85f;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.button:hover {
    background: #06d85f;
}
/* pop up card */
.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 500ms;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.overlay .popup .content .topImg {
    padding: 0 20px;
}

.popup {
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    padding: 20px 0 5px;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    text-align: center;
}
.content .topImg img {
    width: 100%;
}
hr {
    background-color: #fff;
    padding: 0;
    margin: 15px;
}

hr.hr-1 {
    border: 0;
    height: 4px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0)
    );
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06d85f;
}
