.market-place-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}
.market-place-features .card {
    width: 250px;
}
.price {
    font-weight: bold;
    color: red;
    font-size: 12px;
    padding-left: 7px;
}
.market-place-assets {
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
    gap: 20px;
}
.market-place-assets .card {
    width: 250px;
}
.market-place-assets .topImg,
.market-place-features .topImg {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.topImg img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description p:first-child {
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
.description p:nth-child(2) {
    padding: 10px 20px;
    font-size: 14px;
    width: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.button {
    font-size: 12px;
    margin-bottom: 15px;
    padding: 5px;
    color: #fff;
    border: 2px solid #06d85f;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.button:hover {
    background: #06d85f;
}

.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    padding: 20px 0 5px;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    text-align: center;
}
.content .topImg img {
    width: 60%;
}
hr {
    background-color: #fff;
    padding: 0;
    margin: 10px;
}

hr.hr-1 {
    border: 0;
    height: 4px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0)
    );
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06d85f;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}
