.landingPage, .marketplace{
  height: 100vh;
  width: 100wh;
  background-color: #041010;
}

.landingNavbar, .marketplace_Nav {
  height: 60px;
  width: 100%;
  background-color: #474954;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.marketplaceBtns{
  height: 80%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap:10px;
  margin-right: 5px;
  /* background-color: #868eb9; */

}
.marketplaceBtns button{
  height: 50px;
  width: 150px;
  outline: none;
  border: none;
  font-weight: 800;
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  /* background-color: blue; */
}
.walletIcon{
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50px;
  cursor: pointer;
}

a{
  text-decoration: none;
color: white;
}


.landingbtns{
  /* background-color: #868eb9; */
  height: 80%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap:10px;
  margin-right: 5px;

}

.btns{
  background-color: #41EAD4;
  outline: none;
  border: none;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  color: #041010;
  font-weight: 800;
  font-size: 14px;
  cursor: pointer;

}

.container{
  height: 45%;
  width: 100%;
  /* background-color: rgb(66, 43, 43); */
  display: flex;
}

.blockRight{
  height: 100%;
  width: 50%;
  /* background-color: rgb(66, 43, 43); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:5px;
}

.blockRight p{
/* background-color: blanchedalmond; */
color: white;
  font-weight: 800;
  font-size: 40px;
  
}

#smallerText{
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 10px
}

.blockLeft{
  height: 100%;
  width: 50%;
  /* background-color: rgb(66, 43, 43); */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  gap:5px;
}

.leftImg{
  height: 50%;
  width: 300px;
  background-color: blanchedalmond;
  border-radius: 10px;
  background-image: url('/public/huh.jpeg');
  background-size: contain;
}



.footer{
  height: 45%;
  width: 100%;
  /* background-color: rgb(153, 38, 38); */
  display: flex;
align-items: center;
justify-content: space-around;
}

.bannerImg{
  border-radius: 10px;
  height: 100%;
  width: 280px;
  background-color: rgb(207, 182, 182);
}

/* marketplace styling */

.welcome{
  height: 80px;
  width: 100%;
  /* background-color: rgb(10, 9, 9); */
  /* padding-top: 10px;*/
  padding-left: 100px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 800;
  font-size: 30px;
}