@import url("https://fonts.googleapis.com/css2?family=Vibur&display=swap");
.landingPage {
    height: 100vh;
    width: 100vw;
    background-color: #041010;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.marketplace {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.landingPage-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 30px;
}
.marketplace-wrapper,
.landingPage-wrapper {
    width: 100%;
    max-width: 1280px;
}

.landingNavbar,
.marketplace_Nav {
    height: 60px;
    width: 100%;
    background-color: #474954;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.marketplaceBtns {
    height: 100%;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    margin-right: 5px;
}
.marketplaceBtns button {
    height: 100%;
    width: 150px;
    outline: none;
    border: none;
    font-weight: 800;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
    background-color: transparent;
}

.walletIcon {
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

.btns a {
    color: black;
}

.landingbtns {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 5px;
    margin-top: 10px;
}

.btns {
    background-color: #41ead4;
    outline: none;
    border: none;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    color: #041010;
    font-weight: 800;
    font-size: 14px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 0 30px;
    gap: 20px;
}

.blockRight {
    width: 60%;
    max-width: 750px;
    color: #fff;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.blockRight p:nth-child(2) {
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}
.landingPage .join-button {
    width: 100px;
    margin-left: 20px;
}
.landingPage .join-logo {
    width: 250px;
    height: 60px;
    color: #131418;
    /* background-color: #61dafb; */
    border-bottom: 1.5px solid #61dafb;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% auto 0;
    position: relative;
    background-color: black;
    border-radius: 50%;
    transition: border-width 0.1s ease-in;
}
.landingPage .join-logo::before {
    content: "";
    display: block;
    position: absolute;
    background: red;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    z-index: -1;
    transition: all 0.1s ease;
}
.join-logo p {
    font-family: "Vibur", cursive;
    font-size: 32px;
    padding-bottom: 80px;
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
        0 0 0.1em #ff4444, 0 34px 4px #fff;
}
.join-logo p:hover {
    color: #61dafb;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
        0 0 0.1em #ff4444, 0 34px 4px #bceefc;
}
.join-logo p span {
    animation: blink linear infinite 2s;
}
.join-logo p span:nth-of-type(2) {
    animation: blink linear infinite 3s;
}
@keyframes blink {
    78% {
        color: inherit;
        text-shadow: inherit;
    }
    79% {
        color: #333;
    }
    80% {
        text-shadow: none;
    }
    81% {
        color: inherit;
        text-shadow: inherit;
    }
    82% {
        color: #333;
        text-shadow: none;
    }
    83% {
        color: inherit;
        text-shadow: inherit;
    }
    92% {
        color: #333;
        text-shadow: none;
    }
    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}
.blockLeft {
    height: 100%;
}

.leftImg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 0 20px;
}
.leftImg .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.leftImg .slider .slide {
    border-radius: 50px/50px;
    overflow: hidden;
    box-shadow: 1px 18px 16px -12px rgba(255, 255, 255, 0.79);
}
.leftImg .slider .slide img {
    height: 12rem;
}
.leftImg p {
    width: 60%;
    padding-top: 40px;
    color: #fff;
    text-align: center;
}
.landingPage-body-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.landingPage-body-container .card {
    height: 300px;
}

.footer {
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#marketFooter {
    margin-top: 5px;
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.card {
    border-radius: 10px;
    height: 100%;
    width: 280px;
    background-color: #292929;
}

.welcome {
    height: 80px;
    padding-left: 100px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 800;
    font-size: 30px;
}

@media screen and (max-width: 800px) {
    .blockRight {
        width: 400px;
        font-size: 20px;
    }
    .leftImg .slider .slide img {
        height: 300px;
    }
    .leftImg p {
        font-size: 14px;
        width: 400px;
    }
}
