.nftCard {
  height: 270px;
  width: 200px;
  margin: 10px;
  background-color: rgb(207, 182, 182);
  border-radius: 5px;
  border: 3px solid #474954;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.nftCard:hover {
  transform: scale(1.1);
}

.nftCard img {
  height: 167px;
  margin: 0px 20px 4px 20px;
  border-radius: 12px;
  max-width: 156px;
  object-fit: contain;
}

.nftCard__details {
  border-top: 1px solid #474954;
  padding-top: 5px;
}

.nftCard__details p {
  margin-left: 4px;
}

.nftCard h3 {
  text-align: right;
  padding-right: 5px;
}

.nftCard__delete {
  cursor: pointer;
}

.nftCard__btns {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
