.profileNFT__desc {
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
  text-align: left;
  margin-top: 20px;
}

.profileNFT__category {
  display: flex;
  justify-content: space-evenly;
}

.profileNFT__category span {
  color: #41ead4;
}

button {
  background-color: #41ead4;
  color: black;
}

button:hover {
  background-color: black;
  color: #46f8e0;
  color: #6bbaec;
}
